.breadcrumb li {
  display: inline;
  font-size: smaller;
}
.breadcrumb li + li:after {
  content: '  > ';
  color: #fee600;
}
.breadcrumb {
  /* background-color: #8d0000; */
  padding: 20px;
}

.breadcrumb a {
  color: #fee600;
}

img {
  width: 300px;
  height: 100px;
}

.container {
  display: flex;
  align-items: center;
}
